.bg-comp-players-div {
    display: flex;
    flex-direction: row;
    width: 100%;    
    height: 100%;
    // background-color: 343434;
    // color: white;
    border: none;

    .bg-comp-players-div-col {
        display: flex;
        flex-direction: column;
        height: 100%;   
        align-items: center;
        align-content: center;
        justify-content: center; 
        // background-color: blue;
        
        .bg-comp-players-div-col-row {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 100%;
        }
    }

}

.bg-comp-players-avatar-div {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 61px;
    height: 61px;
    opacity: 0.8;
}