.comp-avatars-div {
    width: 100%;
    height: 100%;
    /* opacity: 0.8; */
    /* background-color: red; */

    display: flex;
    flex-direction: row;    
}

.comp-avatars-div-icon {    
    width: 39%;
    height: 46%;
    margin-top: 22px;
    margin-left: 14px;
    background-size: cover;
    /* align-self: stretch; */
    /* background-color: blue; */
}

.comp-avatars-div-bubble {    
    width: 55%;
    height: 39%;
    background-size: auto;
    /* background-color: yellow; */
    left:0; 
    top:0;
    margin-top:10px;
    margin-left:-15px;
    /* margin-top: 22px;
    margin-right: 14px;     */
    /* align-self: stretch; */
}