html, body {
    font-family: 'Noto Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;    
}

.sds-comp-main-div {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    /* height: 100%; */
    background: black
}

.sds-comp-main-div-header {
    display: flex;
    flex-direction: row;

    height: calc(193px / 1080px);
    background-color: blue;
}

.sds-comp-main-div-header-left {
    width: 25%;
    background-color: gray;
}
/* .sds-comp-main-div-header-left img{
    
} */

.sds-comp-main-div-header-middle {
    width: 50%;
    background-color: green;
}
.sds-comp-main-div-header-middle-span {
    font-size: 25px;
    font-weight: bold;
}
.sds-comp-main-div-header-middle-panel-id {
    display: flex;
    justify-content: space-between;
}
.sds-comp-main-div-header-middle-panel-id span{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    width: 100%;
}


.sds-comp-main-div-header-right {
    width: 25%;
    background-color: greenyellow;
}

.sds-comp-main-div-footer {
    display: flex;
    align-items: center;
    height: 89px;
    background-color: red;
}
.sds-comp-main-div-footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
}
.sds-comp-main-div-footer-left-img {
    height: 53px;
    width: 53px;
    background: transparent url('../../images/screenshare.svg') 0% 0% no-repeat padding-box;
    /* src: url('../../images/screenshare.svg'); */
}

.sds-comp-main-div-footer-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sds-comp-main-div-footer-right {
    margin-left: auto;
    font-size: 22px;
}

.sds-comp-main-div-body {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    background-color: yellow;
}
