html, body {
    font-family: 'Noto Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;    
}

.comp-main-div {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    background: black
}

.comp-main-div-header {
    display: flex;
    flex-direction: row;

    height: 220px;
    background-color: blue;
}

.comp-main-div-header-left {
    width: 25%;
    background-color: gray;

}
.comp-main-div-header-middle {
    width: 50%;
    background-color: green;
}
.comp-main-div-header-right {
    width: 25%;
    background-color: greenyellow;
}

.comp-main-div-footer {
    height: 89px;
    background-color: red;
}

.comp-main-div-body {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    background-color: yellow;
}
