.bg-comp-main-div {
    width: 100%;    
    height: 100%;
    background-color: bisque;
    color: #000;
    border: none;
    .bg-comp-main-div-players {
        width: 100%;
        height: 100%;
    }
    // .bg-comp-main-div-players {
    //     display: flex;
    //     flex-direction: row;
    //     height: 100%;

    //     .bg-comp-main-div-players-col {
    //         display: flex;
    //         flex-direction: column;
    //         background-color: yellow;
    //         // padding: 2px;
    //         // margin: 2px;
    //     }

    //     .bg-comp-main-div-players-col-row {
    //         background-color: red;
    //         // padding: 2px;
    //         // margin: 2px;
    //     }
    // }
}

// .bg-comp-main-player-div {
//     /* flex-grow: 1; */
//     background-color: red;

// }
.bg-comp-main-avatar-div {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 61px;
    height: 61px;
    opacity: 0.8;
}