.sds-comp-senders-div {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: blue;
}
.sds-comp-senders-div-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    background-color: teal;
    font-size: 25px;
    font-weight: bolder;
}
.sds-comp-senders-div-header-count{
    color: #FF6600;
}

.sds-comp-senders-div-list{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: red;
    margin-left: 20%;
    margin-right: 20%;
}

.sds-comp-senders-div-footer{
    height: 15px;
    background-color: thistle;    

}